// 
// pricing.scss
// 

.pricing-box{
    // background-color: rgba($primary, 0.05);
    border: 2px solid $light;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    .price-content{
        i{
            font-size: 46px;
        }
        .pt-column-content{
            li{
                margin: 10px 0;
                color: $muted;
                display: flex;
                align-items: center;
                i{
                    color: $dark;
                    margin-left: auto;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }
    &:hover{
        box-shadow: rgba($black, 0.09) 0px 20px 30px;
    }
}
