// 
// testi.scss
// 

    .testimonial-box{
        // border: 4px double #DEE2E6;
        position: relative;
        border-radius: 10px;
        background-color: #2eaabd3a;
    }
    .client-image {
        overflow: hidden;
        width: 80px;
        height: 80px;
        border: 1px solid #ddd;
        border-radius: 999px;
        // position: absolute;
        /* bottom: 77%; */
        // bottom: 0%;
        // right: 50%;
        // transform: translate(50%, 50%);
    }

    .carousel-bg{
        background: #ffffff;
        box-shadow: $box-shadow;
        border-radius: 10px;
    }

.carousel-indicators {
    position: absolute;
    right: 0;
    top: 80%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: $primary !important;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 100%;
    
}



