/* default.css */

/* COLOR */


.post-meta a:hover, .blog-post-title:hover, .text-primary, .btn-outline-primary,
    .dropdown .dropdown-menu .dropdown-item:hover,
    .dropdown .dropdown-menu .dropdown-item:active,
    .dropdown .dropdown-menu .dropdown-item:focus,
    .dropdown .dropdown-menu .dropdown-item.active,
    .dropup .dropdown-menu .dropdown-item:hover,
    .dropup .dropdown-menu .dropdown-item:active,
    .dropup .dropdown-menu .dropdown-item:focus,
    .dropup .dropdown-menu .dropdown-item.active,
    .dropright .dropdown-menu .dropdown-item:hover,
    .dropright .dropdown-menu .dropdown-item:active,
    .dropright .dropdown-menu .dropdown-item:focus,
    .dropright .dropdown-menu .dropdown-item.active,
    .dropleft .dropdown-menu .dropdown-item:hover,
    .dropleft .dropdown-menu .dropdown-item:active,
    .dropleft .dropdown-menu .dropdown-item:focus,
    .dropleft .dropdown-menu .dropdown-item.active ,.link-post-content i {
      color: #3a8eeb !important;
    }
    
    /* BACKGROUND */
    .bg-primary,
.btn-primary, .service-box:hover .icon, .avatar:hover,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
    .tags a:hover, 
    .pagination > li > a:hover,
    .pagination > li > a:focus,
    .pagination > li > span:hover,
    .pagination > li > span:focus ,
    
    .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover,
    .footer-social li a:hover i{
            background-color: #3a8eeb !important;
    }
    
     /* BORDER-COLOR */
    
     .btn-primary, .btn-outline-primary,
    .pagination > li > a:hover,
    .pagination > li > a:focus,
    .pagination > li > span:hover,
    .pagination > li > span:focus 
    , .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover,
    .left-sidebar-title h4 , .custom-form .form-control:focus
    ,.popular-border, .blockquote,.link-post-content, .border-primary
    {
      border-color: #3a8eeb !important;
    }
  

    .navbar-custom .navbar-nav li.active a,
    .navbar-custom .navbar-nav li a:hover,
    .navbar-custom .navbar-nav li a:focus,
    .navbar-custom .navbar-nav li a:active {
      color: #3a8eeb !important;
    }

    
    @media (min-width: 200px) and (max-width: 991px) {
        .navbar-custom .navbar-nav li.active a,
        .navbar-custom .navbar-nav li a:hover,
        .navbar-custom .navbar-nav li a:active {
            color: #3a8eeb !important;
        }
    }

    .btn-primary:hover, 
    .btn-primary:focus, 
    .btn-primary:active, .btn-primary.active, 
    .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active, 
    .btn-primary:not(:disabled):not(.disabled):active:focus, 
    .btn-primary .open > .dropdown-toggle.btn-primary {
      box-shadow: 0px 8px 20px -6px rgb(58 142 235 / 71%);
  }

  .btn-outline-primary:hover, 
  .btn-outline-primary:focus, .btn-outline-primary:active, 
  .btn-outline-primary.active, .btn-outline-primary.focus, 
  .btn-outline-primary:not(:disabled):not(.disabled):active, 
  .btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
  .btn-outline-primary .open > 
  .dropdown-toggle.btn-primary {
    box-shadow: 0px 8px 20px -6px rgb(58 142 235 / 71%);
    transform: translateY(-6px);
}


    .carousel-indicators [data-bs-target] {
      width: 10px;
      height: 10px;
      background-color: #3a8eeb !important;
      margin-right: 8px;
      margin-left: 8px;
      border-radius: 100%;
  }

  .team-box {
    border: 2px solid #3a8deb31;
}

.heading:before {
  content: "";
  height: 0.6px;
  left: 0;
  right: -40px;
  position: absolute;
  bottom: -6%;
  width: 100px;
  background-color: #3a8eeb !important;
  margin: 0 auto;
}

.heading::after {
  content: "";
  height: 0.6px;
  left: 0;
  right: 40px;
  position: absolute;
  bottom: 0%;
  width: 100px;
  background-color: #3a8eeb;
  margin: 0 auto;
}

.team-social li i {
  font-size: 20px;
  color: #3a8eeb;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.foot-bgdark {
  background-color: #1f4d7f;
}

.video-preview .video-play-icon i {
  box-shadow: 0 0 0 0 #3a8eeb;
  animation: pulse 1.2s infinite;
}

.nav-sticky.navbar-custom 
.navbar-nav li.active a, .nav-sticky.navbar-custom 
.navbar-nav li a:hover, .nav-sticky.navbar-custom 
.navbar-nav li a:focus, .nav-sticky.navbar-custom 
.navbar-nav li a:active {
  color: #3a8eeb !important;
}

.team-social li i {
  font-size: 20px;
  color: #3a8eeb;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.container li > a:hover {
  color: #3a8eeb !important;
}

#style-switcher .settings {
  background: #3a8eeb;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  right: -45px;
  top: 0;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #3a8eeb;
  background-size: 100% 40%;
  border-radius: 10%;
}
